
body {
    font: normal normal normal 20px/27px Segoe UI;
}

table{
    align-self: center;
    border: 1px solid black;
    border-collapse: collapse;
}
.rates {
    border: 1px solid black;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
}
tr {
    background-color: #D4AC2B;
}
th {
    background-color: #B05E27;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
}


